{% extends "Cinema/navbar.html" %}
{% block mainbody %}
  {% load staticfiles %}
<!-- END | Header -->

<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>Movie Listing - Grid Fullwidth</h1>
					<ul class="breadcumb">
						<li class="active"><a href="#">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="topbar-filter fw">
					<p>Found <span>1,608 movies</span> in total</p>
					<label>Sort by:</label>
					<select>
						<option value="popularity">Popularity Descending</option>
						<option value="popularity">Popularity Ascending</option>
						<option value="rating">Rating Descending</option>
						<option value="rating">Rating Ascending</option>
						<option value="date">Release date Descending</option>
						<option value="date">Release date Ascending</option>
					</select>
					<a href="/movie_all/{{ current_page }}" class="list"><i class="ion-ios-list-outline "></i></a>
					<a  href="#" class="grid"><i class="ion-grid active"></i></a>
				</div>
				<div class="flex-wrap-movielist mv-grid-fw">


            {% for item in items %}
            <div class="movie-item-style-2 movie-item-style-1">
                      <img src="{{ item.poster }}" alt="">
            <div class="hvr-inner">
        	          <a  href="/moviesingle/{{ item.movieid }}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
        	          	</div>
              <div class="mv-item-infor">
                <h6><a href="/moviesingle/{{ item.movieid }}">{{ item.title }}<span>({{ item.year }})</span></a></h6>
                <p class="rate"><i class="ion-android-star"></i><span>{{ item.rate }}</span> /10</p>
              </div>
            </div>
            {% endfor %}


            <script>
                $(function () {
                    $('span.stars').stars();
                });
                $.fn.stars = function () {
                    return $(this).each(function () {
                        $(this).html($('<span />').width(Math.max(0, (Math.min(10, parseFloat($(this).html())))) * 8));
                    });
                }

            </script>

				</div>
        <div class="topbar-filter">
          <label>Movies per page:</label>
          <select>
            <option value="range">5 Movies</option>
            <option value="saab">10 Movies</option>
          </select>
          <div class="pagination2">
            {% if pages %}
            {% for page in pages %}
                {% if page == current_page %}
                    <b>{{ page }}</b>
                {% else %}
                    <a href="{{ page }}" target="_self">{{ page }}</a>
                {% endif %}
            {% endfor %}

            {% if current_page != page_number %}
                <a href="{{ current_page|add:1 }}" target="_self">Next</a>
                <a href="{{ page_number }}" target="_self">Last</a>
            {% endif %}
        {% endif %}
            <a href="#"><i class="ion-arrow-right-b"></i></a>
          </div>
        </div>
			</div>
		</div>
	</div>
</div>
<!-- end of footer section-->
{% endblock %}
