<!DOCTYPE html>

<html lang="en" class="no-js">

<!-- homev206:52-->
<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
	{% load staticfiles %}
		<!-- CSS files -->
		<link rel="stylesheet" href="{% static 'css/buttons.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'css/plugins.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
 <!-- <script type="text/javascript" src="//web-ptica.ru/VRV-files/knopkavverh/10.js"></script> -->




<style>
#topcontrol{z-index: 9999;}
#topcontrol{margin-bottom: 50px;}
.go-top {
  position: fixed;
  right: 10px;
  cursor:pointer;
  display:none;
  width: 50px;
  height: 20px;
  background: #c0c0c0;
}

#go-top:hover {
  background: #333;
}
.lol{
}

</style>
</head>
<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="{% static 'images/logo3.png' %}" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->
<!--login form popup-->


<!-- end of login form popup -->
<!--signup form popup-->
<!--end of signup form popup-->

<!-- BEGIN | Header -->
<header class="ht-header full-width-hd">
		<div class="row">
			<nav id="mainNav" class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a href="/"><img class="logo" src="{% static 'images/logo3.png' %}" alt="" width="100" height="30"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>

						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							movies<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="/moviegrid">Movie grid</a></li>
								<li><a href="/movie_all/">Movie list</a></li>
								<li><a href="/recommendation/decade/1">BEST MOVIES OF 2000-2010 YEARS</a></li>
								<li><a href="/recommendations/1">HIGH RATED MOVIES</a></li>
								<li class="it-last"><a href="/worstfilms/1">worstfilms</a></li>
							</ul>
						</li>

						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							news <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="bloglist.html">blog List</a></li>
								<li><a href="bloggrid.html">blog Grid</a></li>
								<li class="it-last"><a href="blogdetail.html">blog Detail</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							community <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="userfavoritegrid.html">user favorite grid</a></li>
								<li><a href="userfavoritelist.html">user favorite list</a></li>
								<li><a href="userrate.html">user rate</a></li>

							</ul>
						</li>

						<div class="backtotop" style="text-align:center">
							<a href="#" id="back-to-top"><button type="submit" class="btn1 btn-info btn-sm">Go up</button></a>
						</div>


					</ul>

					<ul class="nav navbar-nav flex-child-menu menu-right">
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							pages <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="landing.html">Landing</a></li>
								<li><a href="404.html">404 Page</a></li>
								<li class="it-last"><a href="comingsoon.html">Coming soon</a></li>
							</ul>
						</li>
						<li><a href="#">Help</a></li>
						<div class="col-md-7 col-sm-7 mx-auto text-center">
							{% if user.is_authenticated %}
								<a href="/logout"><button class="btn1 btn-dark btn-sm" href="/logout">Log out</button></a>
							{% else %}
							  <a href="/login"><button class="btn1 btn-primary btn-sm" href="/login">Log In</button></a>
							{% endif %}

					</div>
					<div>
            {% if user.is_authenticated %}
            <a href="user/"><button class="btn1 btn-success btn-sm" href="/register">{{ user.username }}	</button></a>
            {% else %}
 					 	<a href="/register"><button class="btn1 btn-danger btn-sm" href="/register">SignUp</button></a>
            {% endif %}
						 </div>
						<!-- <button type="button" class="btn1 btn-success btn-sm">success</button>
						<button type="button" class="btn1 btn-danger btn-sm">Sign Up</button> -->
						<!-- <li class="btn1	 btn-success btn-sm" ><a href="#">LOG In</a></li> -->
						<!-- <li class="signupLink"><a href="#">sign up</a></li> -->

					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>
	    <!-- search form -->
      <form class="top-search" action="{% url 'search' %}" method="post">
        <select>
        <option value="united">Films</option>
        <option value="saab">Actors</option>
      </select>
          {% csrf_token %}
      <input type="text" name="search_field" placeholder="Search for a movie, TV Show or celebrity that you are looking for">
				<button type="submit" class="btn1 btn-warning btn-sm">Search</button>
          <!-- <input type="submit" name="Search" value="Search"> -->
      </form>
  </div>
		</div>

</header>
<!-- END | Header -->

{% block mainbody %}
    {% load staticfiles %}


{% endblock %}

<!-- footer v2 section-->
<footer class="ht-footer full-width-ft">
	<div class="row">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				<img class="logo" src="{% static 'images/logo3.png' %}" alt="" width="119" height="58">
				 <p>5th Avenue st, manhattan<br>
				New York, NY 10001</p>
				<p>Call us: <a href="#">(+01) 202 342 6789</a></p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Resources</h4>
				<ul>
					<li><a href="#">About</a></li>
					<li><a href="#">Blockbuster</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Forums</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Help Center</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item3">
				<h4>Legal</h4>
				<ul>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Security</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item4">
				<h4>Account</h4>
				<ul>
					<li><a href="#">My Account</a></li>
					<li><a href="#">Watchlist</a></li>
					<li><a href="#">Collections</a></li>
					<li><a href="#">User Guide</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item5">
				<h4>Newsletter</h4>
				<p>Subscribe to our newsletter system now <br> to get latest news from us.</p>
				<form action="#">
					<input type="text" placeholder="Enter your email">
				</form>
				<a href="#" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a>
			</div>
		</div>
		<div class="ft-copyright">
			<div class="ft-left">
				<p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
			</div>

		</div>
	</div>
</footer>
<!-- end of footer v2 section-->

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/plugins2.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>

<!-- homev207:28-->
</html>
