{% load staticfiles %}
<DOCTYPE! html>
<html>
	<head>
		<link rel= "stylesheet" href= "{% static 'css/mainTEST.css' %}">
		<title>Chess Achievements</title>

	<head>
	<body>
		<div id="ChessAch"><a href="E:\IITU EDUCATION\ICT\икт лаб 12\Chess Achievements.html">Chess Achievements</a></div>
		<div id="UrStats">Your Statistics</div>
		<div id="ChessNews"><a href="http://chess-news.ru/">Chess News</a></div>
		<div id="ChessWorldRating"><a href="https://ratings.fide.com/top.phtml?list=men">Chess World Rating</a></div>
		<div id="HomepageInfo">Homepage Information</div>
		<div id="HomepageInfo2">Chess Achievements was created to show user his statistics, problems and suggest solutions for them. Our purpose is to give opportunity for young players make themselves better. By using ChessAchievements site, users are able to analyse their matches and mistakes.If you are interested in organizing or funding special events (tournaments, matches or simultaneous exhibitions) on ChessAchievements site or you found some bugs or errors on site, please write a message to our mail: "chessachievements@gmail.com".
		<div id="Community">Chess Communities:</div>
		<div id="CommunityListLichessOrg"><a href="https://lichess.org/player">Lichess.org community</a></div>
		<div id="CommunityListChessCom"><a href="https://www.chess.com/members">Chess.com community</a></div>
		
		</br></br></br></br></br></br></br></br></br>
		
		<div id="TheEnd">©2019 ChessAchievements</div>
		<div id="TheEnd2"><a href="E:\IITU EDUCATION\ICT\икт лаб 12\Support.html">Support</a></div>
		<div id="TheEnd3"><a href="E:\IITU EDUCATION\ICT\икт лаб 12\suggestions.html"><font color="black">Suggestions</font></a></div>
		<div id="TheEnd4"><a href="E:\IITU EDUCATION\ICT\икт лаб 12\Rules.html">Rules</div>
	<body>
<html>